.container-homepage {
    display: flex;

    width: 100%;
    height: 100%;

    background-color: #F7F7F7;
}

.container-form {
    display: flex;
    flex: 1;
    max-width: 400px;
    max-height: 600px;
    min-height: 450px;
    
    margin: auto auto;
    padding: 60px;
    border-radius: 30px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 17px 0px #DBDBDB;
}

.container-form__form-register {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.container-form__adjust-margin-title {
    margin-bottom: 30px;
}

.container-form__adjust-margin-input{
    margin-bottom: 10px;
}
