* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

.button {
    height: 50px;
    cursor: pointer;

    font-size: 1.5rem;
    font-weight: bold;

    background-color: #e9e9e9;
    border-radius: 10px;
    border: none;
}

.button:hover {
    transition: .6s;
    background-color: #e0e0e0;

    color: #3e3e3e;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;

    color: #3e3e3e;
}

.input{
    width: 100%;
    height: 50px;
    padding: 10px;

    font-size: 1.5rem;

    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}